/* BUTTONS */

.btn {
    border-radius: 3px;
    border-style: none;
    padding: 8px;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    overflow: hidden;
    outline: none;
}

.btn-pri {
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
    color: #FFFFFF;
}

.btn-pri:hover,
.btn-pri.focus,
.btn-pri.active {
    transition: background-color 0.5s, border-color 0.5s;
    background-color: #327e36;
    border-color: #4eb854;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-pri-danger {
    border: 2px solid #d50000;
    background-color: #d50000;
    color: #FFFFFF;
}

.btn-pri-danger:hover,
.btn-pri-danger.focus,
.btn-pri-danger.active {
    transition: background-color 0.5s, border-color 0.5s;
    background-color: #bc0000;
    border-color: #bc0000;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-draft {
    background-color: transparent;
    color: rgb(150, 173, 16);
    border-color: rgb(150, 173, 16);
}

.btn-sec {
    background-color: transparent;
    color: #4CAF50;
    border-color: #4CAF50;
}
.btn-sec:hover,
.btn-sec.focus,
.btn-sec.active {
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
    background-color: #449d48;
    border-color: #449d48;
    color: white;
    cursor: pointer;
}


.btn-draft:hover,
.btn-draft.focus,
.btn-draft.active {
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
    background-color: #444d48;
    border-color: #444d48;
    color: white;
    cursor: pointer;
}

.btn-sec-danger {
    background-color: transparent;
    color: #d50000;
    border-color: #d50000;
}

.btn-sec-danger:hover,
.btn-sec-danger.focus,
.btn-sec-danger.active {
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
    background-color: #bc0000;
    border-color: #bc0000;
    color: white;
    cursor: pointer;
}

.control-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.func-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
  @media (max-width: 768px) {
    .control-btns .btn {
        border: 0;
        padding: 20px 0 0 0;
        font-size: 1.5em;
    }
    .control-btns .btn:hover,
    .control-btns .btn:focus,
    .control-btns .btn:active {
        background-color: transparent;
        border: 0;
        color: #449d48;
    }
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}